<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>订单信息</title>
  <link rel="stylesheet" href="/css/order.css">
</head>
<body>
<div class="wrapper">
  <div class="header">
    <h2>订单信息</h2>
    <a href="http://localhost:8080/shop/index" class="button">继续购物</a>
  </div>
  <div class="content-list">
    <div class="content-card">
      <div class="row title-row">
        <div class="cell">订单编号</div>
        <div class="cell">订单金额</div>
        <div class="cell">创建时间</div>
      </div>
      <div class="row">
        <div class="cell">20230510001</div>
        <div class="cell">¥ 500.00</div>
        <div class="cell">2023-05-10 13:00:00</div>
      </div>
      <div class="row">
        <div class="cell">20230510001</div>
        <div class="cell">¥ 500.00</div>
        <div class="cell">2023-05-10 13:00:00</div>
      </div><div class="row">
      <div class="cell">20230510001</div>
      <div class="cell">¥ 500.00</div>
      <div class="cell">2023-05-10 13:00:00</div>
    </div><div class="row">
      <div class="cell">20230510001</div>
      <div class="cell">¥ 500.00</div>
      <div class="cell">2023-05-10 13:00:00</div>
    </div><div class="row">
      <div class="cell">20230510001</div>
      <div class="cell">¥ 500.00</div>
      <div class="cell">2023-05-10 13:00:00</div>
    </div><div class="row">
      <div class="cell">20230510001</div>
      <div class="cell">¥ 500.00</div>
      <div class="cell">2023-05-10 13:00:00</div>
    </div><div class="row">
      <div class="cell">20230510001</div>
      <div class="cell">¥ 500.00</div>
      <div class="cell">2023-05-10 13:00:00</div>
    </div>
    </div>
  </div>
</div>
</body>
</html>
